<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to Unexpector</title>
</head>

<body>
Welcome to Unexpector - Update
{{ boldmessage }}
{{ thenumber }}
{{ themodel }}
<FireBoxRoom>
<Assets>
<AssetObject id="moon_obj" src="http://vrsites.com/assets/moon.obj" tex0="http://vrsites.com/assets/earth1.jpg" />
<AssetObject id="plane" src="https://beta.vrsites.com/files/unexpector/plane.obj" />
<AssetObject id="subwoofer" src="{% static {{ themodel }} %}" tex0="http://vrsites.com/assets/earth1.jpg" />
<AssetScript src="{% static "script.txt" %}" />
<AssetWebSurface id="webpage_id2" src="{{ randomreddit }}" width="960" height="540" />
<AssetWebSurface id="webpage_id" src="{{ randomwikipedia }}" width="960" height="540" />
<AssetWebSurface id="webpage_id3" src="{{ boldmessage }}" width="960" height="540" />
</Assets>
<Room use_local_asset="room_1pedestal" col="0.500000 0.500000 0.500000">
<Object id="subwoofer" js_id="1" pos="0.000000 3.000000 -10.000000" rotate_deg_per_sec="3.000" />

<Object id="plane" js_id="unexpector_aus-2-1434195977" pos="-1.100000 2.900000 -13.800000" xdir="1.000 -0.004 0.000" ydir="0.004 1.000 -0.004" zdir="0.000 0.004 1.000" scale="6.000000 4.600000 7.600000" collision_id="cube" websurface_id="webpage_id" />
<Object id="plane" js_id="unexpector_aus-1-1434515762" pos="7.700000 2.500000 -9.300000" xdir="-0.000 -0.004 1.000" ydir="0.004 1.000 0.004" zdir="-1.000 0.004 0.000" scale="6.000000 4.600000 7.600000" collision_id="cube" websurface_id="webpage_id2" />
<Object id="plane" js_id="unexpector_aus-3-1434515833" pos="-4.200000 3.100000 -7.800000" xdir="-0.000 0.004 -1.000" ydir="-0.004 1.000 0.004" zdir="1.000 0.004 0.000" scale="6.000000 4.600000 7.600000" collision_id="cube" websurface_id="webpage_id3" />
<Object id="cube" js_id="unexpector_aus-1-1434539671" pos="5.900000 1.400000 -16.500000" xdir="0.977 -0.005 0.214" ydir="0.004 1.000 0.004" zdir="-0.214 -0.003 0.977" collision_id="cube" />
<Text js_id="console1" pos="1.600000 1.400000 -12.800000" xdir="0.966 0.000 -0.259" zdir="0.259 0.000 0.966" scale="1.300000 2.000000 1.000000">{{ boldmessage }}</Text>
<Link pos="0.000000 0.000000 0.000000" xdir="-1.000000 0.000000 0.000000" ydir="0.000000 1.000000 0.000000" zdir="0.000000 0.000000 -1.000000" url="http://www.dgp.toronto.edu/~mccrae/projects/firebox/home2/home.html" col="0.990000 0.660000 0.823059" scale="1.800000 2.500000 1.000000" />
</Room>
</FireBoxRoom>
</body>
</html>
